<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script>
        $(function () {
            $('button').click(function () {
                var $name = $('#name').val();
                $.get(function (data) {
                    var $li = $('<li></li>');
                })
            })
        })
    </script>
</head>
<body>
name: <input type="text" id="name">
<button>别点</button>


</body>
</html>