<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oprator</title>
    <script type="text/javascript" src="../static/jquery.js"></script>
    <script>
        $(function () {
            $('#getB').click(function () {
                $.get
            })
        })
    </script>
</head>
<body>
id: <input type="text" id="sid">
song: <input type="text" id="song">
singer: <input type="text" id="singer">
writer: <input type="text" id="writer">
type: <input type="text" id="type">
duration: <input type="text" id="duration">
<button id="getB">get加</button>
<button id="postB">post加</button>
<button id="putB">修改</button>
<button id="deleteB">删除</button>
</body>
</html>